<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=x, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'creating_emp' %}" method="post">
        {%csrf_token%}
        <input type="text" name="name" placeholder="enter emp name " required>
        <input type="text" name="email" placeholder="enter  emp email here " required>
        <input type="text" name="dept" placeholder="enter emp dept here " required>
        <button type="submit">addEmp</button>
    </form>
   <button id="getAllEmps">getAllEmpData</button>
   <script>
    document.getElementById("getAllEmps").addEventListener("click",()=>{
        fetch("{%url 'getAll_emps'%}").then(res=>res.json()).then(res=>console.log(res)).
        catch(err=>console.log(err))
    
    })
   </script>



</body>
</html>